wf-pose-tracking-3d>=0.1.0
wf-smc-kalman>-0.1.0
wf-cv-utils>=0.5.1
wf-video-io>=0.1.0
wf-minimal-honeycomb-python>=0.5.0
wf-geom-render>=0.3.0
pandas>=0.25.3
numpy>=1.18.1
networkx>=2.4
tqdm>=4.42.0
opencv-python>=4.2.0.34
python-slugify>=4.0.0
matplotlib>=3.1.2
seaborn>=0.10.0
attrs>=19.3.0